<img src="/css/img/ad.png" alt="ad">
<div class="navbar navbar-default" role="navigation">
  {{#link-to 'index'}}
  <img class="nav-content" id="ad" src="/css/img/bustle.png">
  {{/link-to}}
  <h5 class="nav-content">News</h5>
  <h5 class="nav-content">Entertainment</h5>
  <h5 class="nav-content">Fashion &amp; Beauty</h5>
  <h5 class="nav-content">Lifestyle</h5>
  <h5 class="nav-content">Books</h5>
  <h5 class="nav-content">Explore</h5>
  <h5 class="nav-content">About</h5>
  <h5 class="nav-content">{{#link-to 'admin'}}Admin{{/link-to}}</h5>
</div>

<div class="container">
  <header>
  </header>
  {{outlet}}
</div>


<!-- <footer>
  {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
</footer> -->
