<div class="container">
  <header class = "jumbotron">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <h5 class="nav-content">News</h5>
      <h5 class="nav-content">Entertainment</h5>
      <h5 class="nav-content">Fashion &amp; Beauty</h5>
      <h5 class="nav-content">Lifestyle</h5>
      <h5 class="nav-content">Books</h5>
      <h5 class="nav-content">Explore</h5>
      <h5 class="nav-content">About</h5>
      <h5 class="nav-content">{{#link-to 'admin'}}Admin{{/link-to}}</h5>
      <h5 class="nav-content">{{#link-to 'index'}}Home{{/link-to}}</h5>
    </div>
    <h1>BUSTLE BUSTLE BUSTLE</h1>
  </header>
  {{outlet}}
</div>


<!-- <footer>
  {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
</footer> -->
